.app {
  --color-orange: #f37121;
  --color-dark-orange: #b7551a;
  --color-purple: #4328a5;
  --color-red: #c70039;
  --color-blue: #111d5e;
  font-family: sans-serif;
}

.header__title {
  color: var(--color-blue);
  margin: 30px 0 0 0;
  padding: 16px;
}

.header__img {
  width: 300px;
} 

.header {
  text-align: center;
}

.body {
  min-height: calc(100vh - 460px);
  text-align: center;
  background-color: var(--color-blue);
  padding: 30px 0;
  color: white;
}

.body__link {
  text-decoration: underline;
}

.loading {
  width: 300px;
}

.book {
  background-color: white;
  border-radius: 10px;
  color: var(--color-blue);
  width: 75%;
  display: flex;
  flex-direction: row;
  padding: 0;
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  margin: 50px auto 70px auto;
}

.book_card {
  margin: 20px;
  background-color: white;
  width: 250px;
  height: auto;
  padding-top: 20px;
  border-radius: 10px;
}

.search_result_list {
  margin: 0;
  padding: 0;
}

.search_result_list__item {
  list-style: none;
  display: inline-block;
}

.book_card__img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.book_card__img_container {
  width: 210px;
  height: 160px;
  margin: auto;
  position: relative;
}

.book_card__button {
  background-color: var(--color-orange);
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  color: white;
  padding: 16px;
  border-radius: 5em;
  box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.25);
  font-weight: 700;
  font-size: 16px;
}

.book_card__button:hover,
.book_card__button:active {
  opacity: 0.8;
}



.book__cover {
  width: 50%;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.book__presentation {
  width: 50%;
  margin: 120px 0;
  padding: 20px;
  height: 200px;
  font-family: 'Times New Roman', Times, serif;
}

.book__previous_button {
  position: absolute;
  left: 10px;
}

.book__previous_button a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.book__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.book__same_author {
  margin: 0;
}

.book_card__author,
.book_card__title {
  color: var(--color-blue);
  padding: 0 10px;
  height: 48px; /* petit hack bof pour que les cartes fassent la même hauteur */
  margin: 0;
}

.book_card__title {
  margin-top: 20px;
  font-weight: 700;
}

.footer {
  background: linear-gradient(135deg,#fcb900,#ff6900);
  width: 100%;
  text-align: center;
  padding: 16px;
  color:white;
  font-size: 12px;
}

.footer a {
  text-decoration: underline;
}